.home-banner-content-wrapper,
.home-banner-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-banner-image-wrapper {
  width: 80%;
}

.home-banner-content-wrapper {
  height: 100%;
  padding: 0 25% 0 5%;
  h1 {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85);
    font-size: 3.375rem;
    line-height: 1.23;
  }
}

.banner-layout-wrapper {
  margin-top: 50px;
  height: 80vh;
  background-image: url("../public/bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1450px) {
  .home-banner-content-wrapper {
    padding: 0 10% 0 20%;
  }

  .home-banner-image-wrapper {
    width: 100%;
  }

  .banner-layout-wrapper {
    h1 {
      padding-right: 0;
    }
  }
}

@media (max-width: 990px) {
  .home-banner-content-wrapper {
    h1 {
      font-size: 2.375rem;
    }
  }

  .home-banner-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
    width: 100%;

    .image-wrapper {
      width: 50%;
    }
  }
  .home-banner-content-wrapper {
    width: 100%;
  }
}
