.overlay-wrapper {
  position: absolute;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #000000;

  .text-svg {
    position: absolute;
    z-index: 50;
    display: flex;
  }

  .text-white {
    color: #ffffff;
  }

  .rect {
    width: 100%;
    height: 100%;
    fill: currentColor;

    .rect-fill {
      color: $backgroundColor;
    }
  }

  .text {
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}
